html, body {
	padding:0;
	margin:0;
	font-family: Arial, "Times New Roman";
	line-height:150%;
	font-size: 105%;
}
a:link,a:hover,a:active,a:visited{
	color:#0020C2;
	text-decoration: none;
}
ul {
	padding-left:1em;
}
li {
	padding:0 0 1em 1em;
}
h1, h2 {
	font-family: Georgia;
}
#umlogo {
	float: right;
	margin: -30px 270px 50px 0;
}
#head-band{
	height:15px;
	background-image: linear-gradient(#a4a4a4,#e6e6e6);
	border-bottom: 2px solid #e4e4e4;
	margin-bottom: 20px;
}
#profile_img {
	float:right;
	margin:5px 0 10px 10px;
	border-radius: 10px;
}
#content {
	float: left;
	width: 950px;
	padding:20px 0 40px 0;
}
#top-container{
	/*position: relative;*/
	width: 950px;
	margin:0px auto;
	/*height: 200px;*/
}
#bottom-container{
	/*position: relative;*/
	width: 950px;
	margin:0 auto;
}
#info {
	font-family: Courier;
	font-size:110%;
	font-weight:bold;
	margin: 1.5em 0 2em 0;
	padding: 2em 0 2em 0;
}
#info a:hover {
	color: black;
}
