html, body {
	padding:0;
	margin:0;
	font-family: Arial, "Times New Roman";
	line-height:150%;
	font-size: 105%;
}
a:link,a:hover,a:active,a:visited{
	/*color:#0020C2;*/
	color:#2451a9;
	text-decoration: none;
}
a:hover {
	color: black;
}
ul {
	padding-left:1em;
}
li {
	padding:0 0 1em 1em;
}
h1, h2 {
	font-family: Georgia;
}
h1 {
	font-size:180%;
}
h2 {
	font-size:130%;
}
#umlogo {
	float: left;
	height: 70px;
	margin: 0px 10px 0px 0;
}
#header {
	background-image: url('https://www.memphis.edu/communications/brand/Images/academic1.png');
	background-repeat: no-repeat;
	height:100px;
	text-align: right;
}
#umbackground {
	background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/f/f0/University_of_Memphis_seal.svg/167px-University_of_Memphis_seal.svg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 55% 25%; 
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
}
#head-band{
	height:15px;
	background-image: linear-gradient(#a4a4a4,#e6e6e6);
	border-bottom: 2px solid #e4e4e4;
	margin-bottom: 0px;
}
#profile_img {
	float:right;
	margin:5px 0 10px 10px;
	border-radius: 10px;
}
#content {
	float: left;
	width: 950px;
	padding:20px 0 40px 0;
}
#top-container{
	/*position: relative;*/
	width: 950px;
	margin:0px auto;
	/*height: 200px;*/
}
#bottom-container{
	/*position: relative;*/
	width: 950px;
	margin:0 auto;
}
#info {
	font-family: Courier;
	font-size:110%;
	font-weight:bold;
	margin: 1.5em 0 2em 0;
	padding: 2em 0 2em 0;
}
